.ant-pro-base-menu-inline-item-icon {
  display: unset !important;
}

.page-container {
  height: calc(100vh - 100px);
}

.layout-avatar {
  height: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;

  .ant-space-item {
    height: 28px;
    line-height: 28px;
  }

  &.ant-space {
    height: 36px;
    padding: 4px 6px !important;
  }
}
