.banner-card {
  .banner-upload {
    .ant-upload-list-item-container, .ant-upload-select {
      width: 52px !important;
      height: 52px !important;
    }
    .ant-upload-select, .ant-upload-list-item-container {
      margin-bottom:  0 !important;
    }
  }

  .small-upload {
    .ant-upload-select, .ant-upload-list-item-container {
      margin:  0 !important;
    }
  }

  .ant-pro-card-body {
    padding: 0;
  }
}
